.list-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: white;
}
.genre {
  color: #3b82f6;
}
.song-image {
  width: 200px;
}
.duration-dltIcon,
.details {
  display: flex;
  align-items: center;
}
.song-details {
  margin-left: 10px;
}
.delete-btn {
  margin-left: 10px;
  background-color: transparent;
}
